<li>
    {{burger_name}}
    <ul>
        {{#each ingredients as |ingredient index|}}
            <li data-ing-id={{index}}>
                {{ingredient}}
            </li>
        {{/each}}
    </ul>
    <button class="devour-button" data-id="{{id}}" data-devoured-status="{{devoured}}">
        {{#if devoured}}Order Again{{else}}Devour Burger!{{/if}}
    </button>
</li>