<li class="burger-item">
    {{burger_name}}
    <ul class="ingredient-list">
        {{#each ingredients as |ingredient index|}}
            <li class="ingredient" data-ing-id={{index}}>
                {{ingredient}}
            </li>
        {{/each}}
    </ul>
    <button class="devour-button" data-id="{{id}}" data-devoured-status="{{devoured}}">
        {{#if devoured}}Order Again{{else}}Devour Burger!{{/if}}
    </button>
</li>